.dashboard-container {
  width: 100vw;
  min-height: 100vh;
  padding: 20px 40px;
  background: #f8f9fb;
  box-sizing: border-box;
  font-family: Arial, sans-serif;

  display: flex;
  flex-direction: column;
}



/* HEADER */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
}

.top-bar h1 {
  font-size: 22px;
}

.bell-icon {
  font-size: 22px;
  cursor: pointer;
}

/* DISEASE BUTTONS */
.disease-selector {
  margin-top: 25px;
  display: flex;
  gap: 15px;
}

.disease-selector button {
  padding: 10px 25px;
  border: 1px solid #333;
  background: #ffffff;
  cursor: pointer;
  font-weight: bold;
  color: #000;
}

.disease-selector {
  margin: 30px 0 15px 0;
  display: flex;
  gap: 15px;
}

.disease-selector button:hover {
  background: #e6e6fa; 
  border-color: #6a5acd;
}



/* CHART SECTION */
.chart-section {
  margin-top: auto;
  margin-bottom: 40px;
}

.chart-section h2 {
  margin-bottom: 25px;
}

/* BAR CHART */
.bar-chart {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 300px;
  background: #ffffff;
  padding: 20px;
  border: 1px solid #ccc;
}

.bar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 140px;
}

.bar-wrapper {
  height: 200px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.bar {
  width: 60px;
  border-radius: 6px 6px 0 0;
  transition: height 0.3s ease;
}

/* Highest cases */
.bar.highest {
  background-color: #e53935;
}

/* 2nd & 3rd highest */
.bar.other {
  background-color: #fb8c00;
}

.cases {
  margin-top: 8px;
  font-weight: bold;
}

.label {
  margin-top: 5px;
  font-size: 14px;
  text-align: center;
}

.bottom-section {
  margin-top: auto;
}

/* MANAGEMENT BUTTONS */
.management-buttons {
  margin-top: 20px;
  display: flex;
  gap: 12px;
}

.manage-btn {
  padding: 8px 16px;
  border: 1px solid #333;
  background: #ffffff;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  color: #000000; 
  border-radius: 6px;
}

.manage-btn:hover {
  background: #f0f0f0;
}

