/* ===== SIDEBAR FIXED ===== */

.sidebar {
  position: fixed;   /* makes sidebar fixed */
  top: 0;
  left: 0;

  width: 240px;
  height: 100vh;

  background-color: #1e293b;
  color: white;

  padding: 20px;
  box-sizing: border-box;
}

/* Title */
.sidebar-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0px;
}

/* Remove bullets */
.sidebar ul {
  list-style: none;
  padding: 0;
}

/* Menu items */
.sidebar li {
  margin-bottom: 10px;
}

/* Links */
.sidebar a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.sidebar a:hover {
  color: #38bdf8;
}

/* ===== MAIN CONTENT ===== */

.main-content {
  margin-left: 240px; /* important */
  padding: 20px;
}

/* ===== PROFILE SECTION ===== */

.profile-section {

  display: flex;

  flex-direction: column;

  align-items: center;
  
  margin-bottom: 30%;

}

/* Profile image */

.profile-icon {

  width: 40px;

  height: 40px;

  border-radius: 50%;

  object-fit: cover;

  margin-bottom: 10px;

  border: 3px solid white;

}

/* Profile name */

.profile-name {

  font-size: 14px;

  font-weight: bold;

  color: white;

}